<html>
    <head>
        <title>Ida's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ida's Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Post #1</a></h2>
            <p>Das ist mein erster Post</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Post #2</a></h2>
            <p>Das ist mein zweiter Post</p>
        </div>
    </body>
</html>
